* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: black;
}

.generateHand {
	position: absolute;
	top: 30px;
	left: 30px;
}

.hitPlayer {
	position: absolute;
	top: 60px;
	left: 30px;
}

.calPlayerScore {
	position: absolute;
	top: 90px;
	left: 30px;
}

.hitDealer {
	position: absolute;
	top: 120px;
	left: 30px;
}

.calDealerScore {
	position: absolute;
	top: 150px;
	left: 30px;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

.green {
    position: absolute;
    /*width: 0;
    height: 0;
    line-height: 0;
    border: 550px solid #024500;
    border-top: none;
    border-bottom-right-radius: 550px;
    border-bottom-left-radius: 550px;
    left: 50px;
    top: 0em;*/
    width: 100%;
    height: 90%;
    top: 0;
    background: #024500;
}

.wood {
    position: absolute;
    /*width: 0;
    height: 0;
    line-height: 0;
    border: 600px solid #371e00;
    border-top: none;
    border-bottom-right-radius: 600px;
    border-bottom-left-radius: 600px;
    left: 0em;
    top: 0em;*/
    width: 100%;
    height: 10%;
    bottom: 0;
    background: #371e00 url("../images/wood.png");
}

.holder {
	position: relative;
	width: 520px; /*250*2 + 20px*/
	height: 350px; /*350px*/
	padding: 0;
	background: black;
	margin: 0 auto;
}

.holder-positioner-dealer {
	position: absolute;
	width: 100%;
	top: 5%;
}

.holder-positioner-player {
	position: absolute;
	width: 100%;
	bottom: 15%;
}

.card {
	/*position: relative;
	display: inline-block;
	margin: 0;*/
	position: absolute;
	top: 0;
	left: 50px;
	border: black solid 2px;
	border-radius: 5%;
	width: 250px; /*250px*/
	height: 350px; /*350px*/
	background: white;
}

.card img {
	height: 236px; /*236 px vertical*/
	width: 146px; /*146 px horizontal*/
}

.number, .symbol {
	font-size: 35px;
	font-family: Serif, "Times New Roman";
	text-align: center;
	color: black;
}

.symbol {
	font-size: 50px;
}

.top-number, .top-symbol {
	position: absolute;
	top: 2.85714285714%; /*10px;*/
	left: 2%; /*5px;*/
}

.bottom-number, .bottom-symbol {
	position: absolute;
	bottom: 2.85714285714%; /*10px vertical*/
	right: 2%; /*5px;*/
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.top-symbol {
	top: 11.4285714286%; /*40px vertical*/
}

.bottom-symbol {
	bottom: 11.4285714286%; /*40px vertical*/
}