* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: black;
	font-style: "Times New Roman";
	/* No highlight on text */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

h1, h2, h3, h4 {
	position: relative;
	text-align: center;
	padding: 30px 0;
	color: #f6b859;
	z-index: 1;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 60px; /* font 60px */
	padding: 5px;
}

.chip h2 {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	top: 30%;
}


h3 {
	font-size: 40px;
}

h4 {
	font-size: 30px;
	color: red;
}

button {
	position: relative;
	display: inline-block;
	margin: 30px auto;
	padding: 5px;
	font-size: 20px;
	z-index: 1;
    border: 2px solid black;
	border-radius: 5%;
    background: #f6b859;
}

button:hover, button:active, button:focus {
	background: #f00;
	box-shadow: inset 0 0 5px #000, 0 0 5px #000;
	outline: none;
}

button:focus {
	background: #f6b859;
}

.play {
	position: relative;
	display: block;
}

.baller {
	position: relative;
	width: 500px;
	margin: 0 auto;
}

.baller button {
	width: 32%;
}

.holder-chips {
	position: absolute;
	height: 775px; /*155 px vertical*/
	width: 155px; /*(155*5) px horizontal*/
	top: 0; 
	left: 0;
}

.chip {
	position: relative;
	height: 20%; /*100%*/
	width: 100%; /*20%*/
	float: left;
	text-align: center;
}

.chip img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.chip-amounts {
	position: relative;
	clear: left;
	float: left;
	width: 155px; /*155 px horizontal*/
}

.holder-buttons {
	position: absolute;
	height: 400px; /* 100 px vertical*/
	width: 300px; /* 400 px horizontal*/
	bottom: 20%; 
	right: 2%;
}

.holder-buttons button {
	position: relative;
	height: 40%; /* 100% vertical */
	width: 100%; /* 40% vertical */
	float: left;
	text-align: center;
	font-size: 40px;
}

.holder-better {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 35%;
}

.green-table {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    background: #024500;
}

.wood-table {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: #371e00 url("../images/wood.png");
}

.holder {
	position: relative;
	width: 400px; /*400px*/
	height: 350px; /*350px*/
	padding: 0;
	margin: 0 auto;
}

.holder-positioner-dealer {
	position: absolute;
	width: 100%;
	top: 5%;
}

.holder-positioner-player {
	position: absolute;
	width: 100%;
	bottom: 15%;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card {
	position: absolute;
	top: -1000%;
	left: 0;
	border: black solid 1px;
	border-radius: 5%;
	width: 250px; /*250px*/
	height: 350px; /*350px*/
	background: white;
}

.card img {
	height: 236px; /*236 px vertical*/
	width: 146px; /*146 px horizontal*/
	border: black solid 1px;
	border-radius: 5%;
}

.number, .symbol {
	font-size: 35px;
	font-family: Serif, "Times New Roman";
	text-align: center;
	color: black;
}

.symbol {
	font-size: 50px;
}

.top-number, .top-symbol {
	position: absolute;
	top: 2.85714285714%; /*10px;*/
	left: 2%; /*5px;*/
}

.bottom-number, .bottom-symbol {
	position: absolute;
	bottom: 2.85714285714%; /*10px vertical*/
	right: 2%; /*5px;*/
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.top-symbol {
	top: 11.4285714286%; /*40px vertical*/
}

.bottom-symbol {
	bottom: 11.4285714286%; /*40px vertical*/
}